## Train

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path_DT_train = "data_result/DT/train_phase_1/"
path_TT_train = "data_result/TT/train_phase_1/"

path_DT_eval = "data_result/DT/eval_phase_2/"
path_TT_eval = "data_result/TT/eval_phase_2/"

path_DT_test = "data_result/DT/test_phase_3/"
path_TT_test = "data_result/TT/test_phase_3/"

In [3]:
important_metrics = ["all_time_peak_average","carbon_emissions_total","cost_total","daily_one_minus_load_factor_average","daily_peak_average",
                    "electricity_consumption_total", "monthly_one_minus_load_factor_average", "ramping_average","zero_net_energy"]

In [4]:
list_df=[]

In [5]:

def return_result(path,mode="train"):
    data= []
    list_df =[]
    for i in range(1,6):
        df = pd.read_csv(path + mode +"_{}.csv".format(i),index_col = 1)
        df = df[df.level == "district"]
        value_ = df.loc[important_metrics]["value"].tolist()
        data.append(value_)
        df_full = pd.DataFrame(data,columns= important_metrics)
        list_df.append(df_full)
    

    
    return list_df[-1]

In [6]:
list_df_dt = return_result(path_DT_train)
list_df_tt = return_result(path_TT_train)

In [7]:
summary_dt = pd.DataFrame({
    'mean': list_df_dt.mean(),
    'std': list_df_dt.std()
})
summary_tt = pd.DataFrame({
    'mean': list_df_tt.mean(),
    'std': list_df_tt.std()
})

In [8]:
summary_combined = pd.merge(summary_dt, summary_tt, left_index=True, right_index=True)

In [9]:
summary_combined.columns = ["mean_dt","std_dt","mean_tt","std_tt"]

In [10]:
summary_combined

                                        mean_dt    std_dt   mean_tt    std_tt
all_time_peak_average                  0.782682  0.014141  0.784444  0.002026
carbon_emissions_total                 0.893350  0.002420  0.893469  0.000304
cost_total                             0.825401  0.003871  0.825675  0.000780
daily_one_minus_load_factor_average    0.917920  0.002284  0.922883  0.000435
daily_peak_average                     0.791933  0.004803  0.793257  0.002701
electricity_consumption_total          0.887336  0.002947  0.887067  0.000190
monthly_one_minus_load_factor_average  0.952569  0.001720  0.953127  0.000156
ramping_average                        0.915743  0.001711  0.920616  0.001562
zero_net_energy                        1.138429  0.004311  1.135322  0.000076

In [11]:
summary_combined["RBC"]= [0.783, 0.893, 0.826, 0.923, 0.794, 0.887, 0.953, 0.924,1.135]

In [12]:
summary_combined

,mean_dt,std_dt,mean_tt,std_tt,RBC
all_time_peak_average,0.782682,0.014141,0.784444,0.002026,0.783
carbon_emissions_total,0.893350,0.002420,0.893469,0.000304,0.893
cost_total,0.825401,0.003871,0.825675,0.000780,0.826
daily_one_minus_load_factor_average,0.917920,0.002284,0.922883,0.000435,0.923
daily_peak_average,0.791933,0.004803,0.793257,0.002701,0.794
electricity_consumption_total,0.887336,0.002947,0.887067,0.000190,0.887
monthly_one_minus_load_factor_average,0.952569,0.001720,0.953127,0.000156,0.953
ramping_average,0.915743,0.001711,0.920616,0.001562,0.924
zero_net_energy,1.138429,0.004311,1.135322,0.000076,1.135

## EVAL

In [13]:
list_df_dt_eval = return_result(path_DT_eval,mode="eval")
list_df_tt_eval = return_result(path_TT_eval,mode="eval")

In [14]:
summary_dt_eval = pd.DataFrame({
    'mean': list_df_dt_eval.mean(),
    'std': list_df_dt_eval.std()
})
summary_tt_eval = pd.DataFrame({
    'mean': list_df_tt_eval.mean(),
    'std': list_df_tt_eval.std()
})
summary_combined_eval = pd.merge(summary_dt_eval, summary_tt_eval, left_index=True, right_index=True)
summary_combined_eval.columns = ["mean_dt","std_dt","mean_tt","std_tt"]

In [15]:

summary_combined_eval["RBC"] = [0.974,0.871,0.816,0.967,0.794,0.869,0.966,0.908,1.207]

In [16]:
summary_combined_eval

,mean_dt,std_dt,mean_tt,std_tt,RBC
all_time_peak_average,0.960617,0.036083,0.971023,0.013389,0.974
carbon_emissions_total,0.874565,0.001382,0.874662,0.001763,0.871
cost_total,0.822799,0.004595,0.814267,0.000779,0.816
daily_one_minus_load_factor_average,0.972666,0.002789,0.965894,0.002233,0.967
daily_peak_average,0.801772,0.004487,0.800871,0.003493,0.794
electricity_consumption_total,0.871017,0.001146,0.874854,0.002222,0.869
monthly_one_minus_load_factor_average,0.970418,0.002371,0.964136,0.003253,0.966
ramping_average,0.911596,0.004307,0.918827,0.001345,0.908
zero_net_energy,1.208654,0.006651,1.206601,0.000685,1.207

# TEST

In [17]:
list_df_dt_test = return_result(path_DT_test,mode="test")
list_df_tt_test = return_result(path_TT_test,mode="test")

In [18]:
summary_dt_test = pd.DataFrame({
    'mean': list_df_dt_test.mean(),
    'std': list_df_dt_test.std()
})
summary_tt_test = pd.DataFrame({
    'mean': list_df_tt_test.mean(),
    'std': list_df_tt_test.std()
})
summary_combined_test = pd.merge(summary_dt_test, summary_tt_test, left_index=True, right_index=True)
summary_combined_test.columns = ["mean_dt","std_dt","mean_tt","std_tt"]

In [19]:
summary_combined_test["RBC"]= [0.935, 0.898, 0.854, 0.871, 0.802, 0.897, 0.947, 0.946,1.072]

In [20]:
summary_combined_test

,mean_dt,std_dt,mean_tt,std_tt,RBC
all_time_peak_average,0.917329,0.013076,0.913001,0.029250,0.935
carbon_emissions_total,0.965907,0.002011,0.965327,0.001146,0.898
cost_total,0.927283,0.002338,0.915109,0.001044,0.854
daily_one_minus_load_factor_average,0.882931,0.003904,0.872613,0.001166,0.871
daily_peak_average,0.824791,0.005003,0.813151,0.001731,0.802
electricity_consumption_total,0.964768,0.001933,0.964926,0.001486,0.897
monthly_one_minus_load_factor_average,0.947089,0.002974,0.948420,0.001150,0.947
ramping_average,0.972230,0.009164,0.991155,0.008061,0.946
zero_net_energy,1.075006,0.004287,1.077872,0.000431,1.072

## Time Series Analysis

In [ ]:

def return_result_ts(path,mode="train"):
    data= []
    list_df =[]
    for i in range(1,6):
        df = pd.read_csv(path + mode +"_TS_{}.csv".format(i),index_col = 0)
        #df = df[df.level == "district"]
        #value_ = df.loc[important_metrics]["value"].tolist()
        #data.append(value_)
        #df_full = pd.DataFrame(data,columns= important_metrics)
        list_df.append(df)
    
    combined_df = pd.concat(list_df,keys=range(len(list_df)))
    grouped = combined_df.groupby(level=1)
    # Calculate mean and standard deviation for each column
    mean_df = grouped.mean()
    std_df = grouped.std()

    # Combine the mean and standard deviation into a single dataframe
    result_df = pd.concat([mean_df.add_suffix('_mean'), std_df.add_suffix('_std')], axis=1)

    
    return result_df

In [ ]:
result_ts_DT= return_result_ts(path_DT_train,mode="train")
result_ts_TT = return_result_ts(path_TT_train,mode="train")
result_ts_RBC = pd.read_csv(r"data_result/RBC/train_TS.csv",index_col = 0)

In [ ]:
4.31/5.89

In [ ]:
df_DT_ts_cumsum = result_ts_DT.cumsum()
df_TT_ts_cumsum = result_ts_TT.cumsum()
df_RBC_ts_cumsum = result_ts_RBC.cumsum()

In [ ]:
df_DT_ts_short = df_DT_ts_cumsum.iloc[::10]
df_TT_ts_short = df_TT_ts_cumsum.iloc[::10]
df_RBC_ts_short = df_RBC_ts_cumsum.iloc[::10]
index_ = df_DT_ts_short.index

In [ ]:
df_TT_ts_short

In [ ]:
df_RBC_ts_short

In [ ]:
df_DT_ts_short

In [ ]:
index_

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(index_, df_DT_ts_short["control_cost_mean"],  linestyle='-', color='b', label='DT')
plt.plot(index_, df_TT_ts_short["control_cost_mean"], linestyle='-', color='y', label='TT')
plt.plot(index_, df_RBC_ts_short["control_cost"], linestyle='-', color='r', label='RBC')

plt.xlabel('A')
plt.ylabel('B')
plt.title('Plot of A vs B')
plt.legend()
plt.show()
plt.close()

In [ ]:
df_test = pd.read_csv("data_result/DT/train/train_TS_1.csv",index_col = 0)

In [ ]:
df_test["control_net_electricity_consumption"] = df_test["control_net_electricity_consumption"].rolling(window=df_test.shape[0],min_periods=1).sum()

In [ ]:
df_test["baseline_net_electricity_consumption"] = df_test["baseline_net_electricity_consumption"].rolling(window=df_test.shape[0],min_periods=1).sum()

In [ ]:
df_test

In [ ]:
14.153/15.929